---

---

<blockquote class="max-w-[1020px] w-full mx-auto text-slate-400 italic bg-wood-200 p-4 md:p-8 shadow md:border border-slate-200 rounded relative before:content-['«'] before:text-wood-700 before:not-italic before:text-8xl md:before:text-9xl before:absolute before:-left-10 md:before:-left-14 before:-top-6">
    <p class="md:text-lg">
        <slot />
    </p>
</blockquote>
